<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Private Bean Chat Server</title>

    </head>
    <body>
        <div id="edge">

            <div id="chatbox"></div>

            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
        </div>
    </body>
</html>