<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Private Bean Chat Server</title>

    </head>
    <body>
        <div id="edge">

            <div id="chatbox">
                {% for message in msgList %}
                    <p> {{ message.pub_date }}: {{ message.words }} </p>
                {% endfor %}
            </div>

            <form name="message" action="{% url 'chat:posting' %}" method="post">
                {% csrf_token %}
                <input name="usermsg" type="text" id="usermsg" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
        </div>
    </body>
</html>